<h2 style="text-align:center"> {{ 'registration_title' | skyAppResources }}</h2>
<form style="text-align:center;max-width: 20%" [formGroup]="reactiveForm">

  <ng-container class="sky-form-group">
    <label>
      <input class="sky-form-control" placeholder="FirstName" formControlName="FirstName">
    </label>
    <span class="help-block"
      *ngIf="reactiveForm.get('FirstName').errors && (reactiveForm.get('FirstName').touched|| reactiveForm.get('FirstName').dirty)">
      <span *ngIf="reactiveForm.get('FirstName').errors.required">
        <ng-container class="alert alert-danger" role="alert">

          First name Can not be left Empty.
        </ng-container>
      </span>
      <span *ngIf="reactiveForm.get('FirstName').errors.minlength||reactiveForm.get('FirstName').errors.maxlength">
        <ng-container class="alert alert-danger" role="alert">
          First name must be between 3 and 15 in range.
        </ng-container>
      </span>
    </span>
    <label>
      <input class="sky-form-control" placeholder="LastName" formControlName="LastName">
    </label>
    <label>
      <input class="sky-form-control" placeholder="Email" formControlName="Email">
    </label>
    <ng-container
      *ngIf="reactiveForm.get('Email').errors && reactiveForm.get('Email').errors.skyEmail && (reactiveForm.get('Email').dirty && reactiveForm.get('Email').touched)"
      class="sky-error-label">
      <span [hidden]="!reactiveForm.get('Email').errors.skyEmail.invalid">
        Enter a valid email in the joe@abc.com format.
      </span>
    </ng-container>
    <label>
      <input class="sky-form-control" placeholder="DOB" type="date" formControlName="DOB">
    </label>


    <label>
      <input class="sky-form-control" placeholder="Contact" formControlName="Contact">
    </label>
    <label>
      <input class="sky-form-control" placeholder="Address" formControlName="Address">
    </label>
    <input type="submit" class="button" name="submit" [disabled]="reactiveForm.invalid" value="REGISTER"
      (click)="postData()">
  </ng-container>
</form>

<ng-container style=" width: 100%">
  <app-grid [userListDetails]="userListDetails"></app-grid>
</ng-container>